.icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}
.icon:hover{
    background-color: rgba(255, 255, 255, 0.24);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);

}
.icon-image{
    width: 20px;
}
.active{
    background-color: rgba(255, 255, 255, 0.24);
}

